<img src="/assets/img/burger_img.png" alt="Burger">

<h1 class="mb-4 mt-2">Eat-Da-Burger!</h1>

<div class="row">
  <div class="uneaten-div col-md-3 offset-md-3 tan">
    <h4>Click the burger to devour it!</h4>
    <ol>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="uneaten" data-burgerId={{this.id}}>{{this.burger_name}}</li>
      {{/unless}}
      {{/each}}
    </ol>
  </div>

  <div class="eaten-div col-md-3 tan">
    <h4>Yummmm</h3>

      <ol>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{this.burger_name}}</li>
        {{/if}}
        {{/each}}
      </ol>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-md-4 offset-md-4">
    <h2>Add a Burger:</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="input">Burger Name:</label>
        <input class="p-2" type="textarea" id="input" name="burger-name">
      </div>

      <button class="btn-grey rounded" type="submit">Add Burger</button>
    </form>
  </div>
</div>